.navbar.navbar-solid-transition.solid  i {
    color: black;
}

.phone-container {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}
.phone-number {
    padding: 0px 10px;
}

.header-logo {
    height: 48px;
    width: auto;
    margin: 5px;
    filter: brightness(0) invert(1);
}

p.caption {
    color: #1E1E1E;
}

.service-icon {
    width: 100px;
    height: auto;
    padding:10px;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}
.flex-list .card {
    width: 100%;
}
.flex-list-item {
    display: flex; 
    padding: 0.5em;
    width: 100%;
}
.flex-list-item .card-content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   width: 100%;
}

.flex-list-item .card-content p {
    flex: 1 0 auto;
}

.contact-section {
    display:flex;    
    align-items: center;
    height: 100%;
    padding: 0;
}

#contact.parallax-container {
    position: unset;
    overflow: unset;
    height: auto;
}

.icon-credit {
    font-size: 10px;
}
  
@media all and (min-width: 600px) {
    .header-logo {
        height: 54px;
    }
}
@media all and (min-width: 40em) {

    #contact.parallax-container {
        position: relative;
        overflow: hidden;        
    }

    .contact-section {
        display:flex;
        align-items: center;
        height: auto;
        padding:50px;
    }
}
@media all and (min-width: 60em) {
    .flex-list-item {
        width: 33.33%;
    }
}